{# views/auto-filter.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <title>{{ postData.title }}</title>
</head>
<body>
  <h1>{{ postData.name }}</h1>
  <p>Age: {{ postData.age }}</p>
  <p>Occupation: {{ postData.occupation }}</p>
  <p>&#60;</p>
</body>
</html>
