<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    {% if content %}
      {{ content }}
    {% else %}
      {# Default content #}
      <p>PLACEHOLDER CONTENT</p>
    {% endif %}
  </body>
</html>
