{# views/parent.html.twig #}
<!DOCTYPE html>
<html>
  <head>
    {% block titleEle %}
      <title>BASE</title>
    {% endblock %}
  </head>
  <body>
    {% block bodyContent %}{% endblock %}
  </body>
</html>
